body {
    background-color: #000000;
    color: #ffffff;
    margin: 20px;
}
header h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 100px;
}
p {
    font-size: 14px;
    line-height: 1.;
    align-items: center;
    justify-content: center;
    align-self: center;
}
div {
    text-align: center;
    margin-top: 100px;
}
.next p {
    font-size: 18px;
    margin-top: -10px;
    text-decoration: none;
}
a {
    color: #ffffff;
    text-decoration: none;
}
.footer {
    font-size: 12px;
    text-align: center;
    margin-top: 100px;
}
